<h1>List of all actors</h1>

<hr>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Name</th>
    <th>DOB</th>
    <th></th>
  </tr>

  <% Actor.all.each do |actor| %>
    <tr>
      <td><%= actor.id %></td>
      <td><img src="<%= actor.image %>" width="120"></td>
      <td><%= actor.name %></td>
      <td><%= actor.dob %></td>
      <td><a href="/actors/<%= actor.id %>">Show Details</a></td>
    </tr>
  <% end %>


</table>

<hr>
